

<div id="mainContainer" class="center text-center customborder custompadding bgWhite">
  <div id="divBody">

    <p class="h4 mb-4">What is your email?</p>

      <input
        type="email"
        id="email"
        class="form-control mb-2"
        placeholder="name@example.com"
        [(ngModel)]="emailField"
      />




        <button (click)="sendEmail()" class="form-control my-1 btn btn-success" type="button">
          Send email
        </button>
   
        <button (click)="goBack()" class="form-control mb-2 btn btn-primary" type="button">
          Back
        </button>


  </div>
</div>

    