
    <div *ngFor="let friend of userFriends" class="card gedf-card">
      <div class="card-body">
          <div class="cardbox-heading">
              <!-- START dropdown-->
              <div class="dropdown float-right media-body">
                  <p><a routerLink="/profile/{{friend.username}}/{{friend.userId}}" routerLinkActive="active">View Profile</a></p>
              </div>
              <!--/ dropdown -->
              <div class="media m-0">
                  <div class="media-body">
                      <p class="m-0">{{friend.username}}</p>
                      <small><span><i class="icon ion-md-pin"></i> {{friend.fname}} {{friend.lname}}</span></small>
                      <!-- <small><span><i class="icon ion-md-time"></i> 10 hours ago</span></small> -->
                  </div>
              </div>
              <!--/ media -->
          </div>
          <!--/ cardbox-heading -->

          <div class="cardbox-item">
              <img class="img-fluid" src="{{friend.avatar}}" 
                  alt="{{friend.username}}">
          </div>
          <!--/ cardbox-item -->
      </div>
  </div>

