<app-navbar></app-navbar>
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <!-- <app-left-container></app-left-container> -->
            </div>
        </div>

        <div class="col-md-6 gedf-main">

            <app-new-post></app-new-post>
            <!-- Post /////-->

            <!--- \\\\\\\Post-->
            <app-posts></app-posts>
            <!-- Post /////-->



        </div>
        
    </div>
</div>